<div class="container mt-5">
  <h2 class="text-center text-success mb-4">All Properties</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped shadow-sm">
      <thead class="table-success">
        <tr>
          <th>Title</th>
          <th>Address</th>
          <th>Price</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= property.title %></td>
            <td><%= property.address %></td>
            <td><%= number_to_currency(property.price, unit: "Rs ", precision: 0) %></td>
            <td class="text-center">
              <%= link_to 'Show', property_path(property), class: "btn btn-info btn-sm me-1" %>
              <%= link_to 'Edit', edit_property_path(property), class: "btn btn-warning btn-sm me-1" %>
              <%= link_to 'Delete', property_path(property), method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-3">
    <%= link_to 'New Property', new_property_path, class: "btn btn-success px-4" %>
  </div>
</div>
